body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.button1 {
    background-color: #000;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button1:hover {
    background-color: #ff0000;
    transform: scale(1.1);
}

#clickableText {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

#clickableText:hover {
    color: #ff0000;
    transform: scale(1.1);
}